<div class="home-content">
  <div class="book-text head">Books
      <span class="item-text">({{list.length}})</span>
      <select class="sort-content" name="sortbook" id="sortbook">
        <option value="sort by name des">New Arrivals</option>
          <option value="sort by Price">Sort by relevance</option>
          <option value="sort by Price">Price : Low to High</option>
          <option value="sort by name asc">Price : High to Low</option>
        </select>
    </div>
    <div class="main-content">
        <mat-card *ngFor="let book of list" class="books">
            <mat-card-content  class="book">
                <img src="https://template.canva.com/EADaopxBna4/1/0/251w-ujD6UPGa9hw.jpg" alt="book2">
                <div class="book-content">
                <div class="book-title">{{book.bookName}}</div>
                <div class="auther-name">By {{book.bookAuthor}}</div>
                <div class="book-price">Rs.{{book.bookPrice}}</div>
                <button class="add-to-cart actions" mat-stroked-button (click)="onAdd()">{{button}}</button>
                <button class="wishlist actions" mat-stroked-button>WishList</button>
                </div>
            </mat-card-content>
      </mat-card>
    </div>
        
</div>